language: python
cache: apt
sudo: false
addons:
  apt:
    packages:
    - language-pack-en-base
python:
- 3.5
before_install:
- openssl aes-256-cbc -K $encrypted_be0c9bece55e_key -iv $encrypted_be0c9bece55e_iv
  -in id_rsa.enc -out id_rsa -d
- git config --global user.name 'Travis CI'
- git config --global user.email 'travis@invalid'
- git config --global push.default 'simple'
- pip install --upgrade pip wheel
- echo -e 'Host github.com\n    StrictHostKeyChecking no' >> ~/.ssh/config
- eval "$(ssh-agent -s)"
- chmod 600 id_rsa
- ssh-add id_rsa
- git remote rm origin
- git remote add origin git@github.com:bccp/website.git
- git fetch origin ${TRAVIS_BRANCH}
- git branch -f ${TRAVIS_BRANCH} FETCH_HEAD

install:
- pip install 'Nikola[extras]'
script:
- nikola build && nikola github_deploy -m 'Nikola auto deploy [ci skip]'

notifications:
  email:
    on_success: change
    on_failure: always
